body{
    font-family: 'Roboto', sans-serif;
    
}
h1{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}
p{
    color: dimgray;
}
.frame{
    height: 500px;   
}
.name{
    color: crimson;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    text-align: justify;
    padding-bottom: 50px;
}
.half-width img{
    width: 450px;
    height: 450px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(180deg, hsla(335, 100%, 50%, 0.932), tomato);
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}
#title{
    position: absolute;
    margin-top: 50px;
    margin-left: 600px;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;  
}
.port-box{
    height: 600px;
    border: 1px solid red; 
    padding-bottom: 50px; 
}
.port-box img{
    width: 100%;
}
#box-1{
    position: absolute;
width: 370px;
height: 374px;
left: 135px;
top: 1200px;
background: white;
box-shadow: 5px 5px 20px black;
border-radius: 15px;
}
#box-2{
    position: absolute;
width: 370px;
height: 374px;
left: 535px;
top: 1200px;
background: white;
box-shadow: 5px 5px 20px black;
border-radius: 15px;
}
#box-3{
    position: absolute;
width: 370px;
height: 374px;
left: 935px;
top: 1200px;
background: white;
box-shadow: 5px 5px 20px black;
border-radius: 15px;
}
.footer{
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
}
#mail{
    text-decoration: none;
    color: navy;
    padding-top: -5px;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
