body{
    font-family: 'Roboto', sans-serif;
    
}
h1{
    font-size: 50px;
    font-weight: bold;
}
.frame{
    height: 350px;   
}
.name{
    color: crimson;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    text-align: justify;
    padding-bottom: 50px;
}
.half-width img{
    width: 450px;
    height: 450px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(180deg, hsla(335, 100%, 50%, 0.932), tomato);
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}